<nav class='navbar'>
  <div class='title'>
    <h1 class='application_name'><%= settings.application_name %></h1>
    <h1 class='content_for'><%= content_for(:title) %></h1>
  </div>

  <div class='navigation'>
    <%= link_to destroy_user_session_path, method: :delete, class: 'logout' do %>
      <i class='fa fa-sign-out' aria-hidden='true'></i>
    <% end %>
  </div>
</nav>