nav
  margin-left: $sidebar-width
  height: $navbar-height
  background-color: $base-color
  width: 100%
  position: fixed

  h1
    color: $primary-color
    +padding(10px null 10px)
    font-size: 2em

